{% extends 'base.html.twig' %}

{% block title %}Media{% endblock %}

{% block body %}
    <h1 class="Admin">Media</h1>

    <table class="table Admin">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medium.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ medium.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ medium.description }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ medium.url }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ medium.type }}</td>
            </tr>
        </tbody>
    </table>
<div class="Admin centre margin">
    <a href="{{ path('media_index') }}"><button class="btn">Retour à la liste</button></a>
    <a href="{{ path('media_edit', {'id': medium.id}) }}"><button class="btn">Edition</button></a>
</div>
    {{ include('media/_delete_form.html.twig') }}
{% endblock %}
