{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/ServiceController.php'|file_link(0) }}">src/Controller/ServiceController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/service/index.html.twig'|file_link(0) }}">templates/service/index.html.twig</a></code></li>
    </ul>
    <form id="upload-form" method="post" enctype="multipart/form-data">
        <label for="file">File</label> <input id="file" type="file" name="file">
        <input type="submit">
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script>


        var lat=43.3;
        var long= 5.3;
        var titre = "mon essaie du 5 octobre";
        var description ="ma descrition du 5 octobre";
        var icone = "question";

        var urlAjax = "{{ path('info_api') }}";

        document.getElementById('upload-form').addEventListener('submit', onSubmit);

        function onSubmit(event) {
            event.preventDefault();

            var formData = new FormData();

            formData.append('lat', lat);
            formData.append('long', long);
            formData.append('title', titre);
            formData.append('description', description);
            formData.append('icone', icone);
            formData.append("upload", document.getElementById("file").files[0]);

            console.log(formData);

            fetch(urlAjax, {
                method: "POST",
                body: formData
            })
                .then(function (response) {
                    console.log(response);
                    // SI ON VEUT GERER DU JSON
                    // ON VA TRANSFORMER LE RESULTAT EN OBJET JSON
                    return response.json();
                })
                .then(function (objetJson) {
                    console.log(objetJson);
                })
        }
    </script>
{% endblock %}