{{ form_start(form) }}
    <div class="row">
        <div class="col-sm-12">
            <a class="btn btn-primary" href="{{ path('member_zone') }}">Retour à la liste</a>
            <button class="btn btn-success">{{ button_label|default('Publier') }}</button>
        </div>
    </div>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          1/3. Titre et Description
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            {{ form_row(form.title) }}

            {{ form_row(form.description, { 'attr': {'rows':'8' }}) }}

            <h5>ajouter une photo</h5>
            <ul id="media-fields-list" class="tags col-lg-12" style="list-style-type: none;"
                data-prototype="{{ form_widget(form.media.vars.prototype)|e }}">

                {% for mediaField in form.media %}
                    <li>
                        <img class="img-fluid" src="{{ asset('assets/' ~ mediaField.url.vars.value) }}">
                        {{ form_widget(mediaField.url) }}
                        {{ form_widget(mediaField.file) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          2/3. Position GPS sur la carte
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="box-map">
                <div class="map" id="map"></div>
            </div>
            {{ form_row(form.latitude) }}
            {{ form_row(form.longitude) }}
        </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          3/3. Icône et Catégories
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            <h5>Icône</h5>
            {{ form_widget(form.icon) }}
            <h5>Catégories</h5>
            {{ form_errors(form.categories) }}
            {{ form_widget(form.categories) }}
        </div>
    </div>
  </div>
</div>

<div class="row">
        <div class="col-sm-4">
            <button class="btn btn-success">{{ button_label|default('Publier') }}</button>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-3">
        </div>

    </div>

{{ form_end(form) }}


